@import "tailwindcss";
body {
  background-color: white;
  color: black;
}
body.dark-mode {
  background-color: black;
  color: #ffffff;
}
footer.dark-mode {
  background-color: black;
  color: #ffffff;
}

button {
  transition: all 0.3s ease;
}
header {
  background-color: #FBF2E0;
  color: black;
  transition: all 0.3s ease;
}
.side{
      background-color: #FBF2E0;
    }
    body.dark-mode .side {
  background-color: rgb(69, 32, 2); 
}
body.dark-mode header {
  background-color: rgb(45, 20, 0); 
  color: #ffffff;
}

.home-hero {
  background-image: url('../src/assets/slide4-1.webp');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

body.dark-mode .home-hero {
  background-image: none; 
  background-color: rgb(69, 32, 2); 
}
body.dark-mode{
    color: #ffffff;
}
.bgfooter{
    background-image: url('../src/assets/bg-footer4.webp');
  
}
body.dark-mode .bgfooter {
  background-image: none; 
  background-color: rgb(69, 32, 2); 
}
.herohoney{
        background-image: url('../src/assets/honey1.webp');

}
body.dark-mode .herohoney{
        background-image: url('../src/assets/honey2.webp');

}